a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

.footer {
	white-space: nowrap;
	line-height: 60px;
}
