@using Microsoft.AspNetCore.Identity
@using Forked.Models.Domains
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var displayName = user?.DisplayName ?? UserManager.GetUserName(User);

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @if (!string.IsNullOrEmpty(user?.ProfilePicturePath))
                {
                    <img src="@user.ProfilePicturePath" alt="Profile" class="rounded-circle me-1" style="width: 30px; height: 30px; object-fit: cover;" />
                }
                <span>@displayName</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Recipes" asp-action="Index" asp-route-OnlyMyRecipes="true">My Recipes</a></li>
                <li><a class="dropdown-item" asp-controller="Recipes" asp-action="Index" asp-route-OnlyFavourites="true">Favorites</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>